{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/signupstyle.css'%}">
</head>
<body>
<form action="{% url 'index' %}" method="POST">
    {% csrf_token %}
    <p>
            <label for="Email" class="floatLabel" style="
    width: 68px;
    right: 207px;">Email</label>
			<input id="Email" name="email" type="email" style="
    width: 402px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding: 12px 8px;"   required >
    </p>
    <p>
			<label for="Password" class="floatLabel" style="width: 68px;">Password</label>
            <input id="Password" name="password" type="password" required>
			<span>Enter a password longer than 8 characters</span>
		</p>
    <p>
			<label for="confirm_password" class="floatLabel">Confirm Password</label>
			<input id="confirm_password" name="confirm_password" type="password" required>
			<span>Your passwords do not match</span>
     <br>
    <button type="submit" id="forsubtn" > Submit</button>
    </p>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/signup.js'  %}">

</script>

</body>
</html>